<div id="wrapper">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <menu-sidebar [isPublic]=false></menu-sidebar>
    </div>
  </nav>
  <div id="page-wrapper" class="gray-bg dashbard-1">

        <menu-topbar></menu-topbar>
    <div class="row  border-bottom white-bg dashboard-header">
    <system-message pattern=""></system-message>

      <div class="">
        <h2>Welcome, User!!</h2>
        <router-outlet ></router-outlet>
      </div>


    </div>

  </div>
</div>
