<div id="wrapper">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <menu-sidebar></menu-sidebar>
    </div>
  </nav>
  <div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row border-bottom">
      <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i> </a>
          <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
            <div class="form-group">
            </div>
          </form>
        </div>
        <menu-topbar></menu-topbar>
      </nav>
    </div>
    <div class="row  border-bottom white-bg dashboard-header">

      <div class="">
        <h2>Welcome!!</h2>
        <router-outlet></router-outlet>
      </div>


    </div>

  </div>
</div>
