<div style= "width: 320px; height: 242px; margin: auto;
max-width: 320px; max-height: 242px;
min-width: 320px; min-height: 242px;" class="no-image" 
*ngIf="!!!this._images || this._images.length <= 0"></div>
<div class="carousel slide" style="width: 320px; height: 242px;
max-width: 320px; max-height: 242px;
min-width: 320px; min-height: 242px; margin: auto;"
*ngIf="this._images && this._images.length > 0" id="{{id}}"
   >
  <div class="carousel-inner">
    <div class="item" *ngFor='let image of this._images'>
      <div class="centered-canvas" >
        <img class="image" src="{{image.name?image.src:image.url}}" >
      </div>
    </div>
  </div>
  <a data-slide="prev" href="#{{id}}" class="left carousel-control">
          <span class="icon-prev"></span>
          </a>
  <a data-slide="next" href="#{{id}}" class="right carousel-control">
      <span class="icon-next"></span>
      </a>
</div>
