<div *ngIf='model'>
  <div id="modal-form" class="modal fade in" aria-hidden="false" style="display: block;">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" (click)="onCloseClicked($event)" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Select File</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div style="height: 300px; overflow-y: auto;" >
                <!--; let i = index-->
            <div class="col-sm-3 col-md-3" *ngFor='let image of images' style="padding-left: 0;background-color: red; height: 100px; border-color: yellow; border-width: 2;">
            <img src="{{image}}" style="width: 135px; height: auto"/>
            </div>
            
              </div>
              <div class="form-group">
                <label title="Upload image file" for="inputImage" class="btn btn-primary block full-width m-b">
              <input  name="file" class="hide" 
              accept="image/*" id="inputImage" 
              type="file" (change)="onSelectFileClicked($event)" />
              Select File
            </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="onCloseClicked($event)" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="hide-button" (click)="onOkClicked($event)" type="submit" class="btn btn-primary">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
